.App {
  text-align: center;
}

.App-header {
  background-color: #282C34;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
}

.exercise-table {
  padding: 12px;
  display: grid;
}

th {
  text-align: left;
}

tr {
  text-align: left;
}

.selected-exercise {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

table {
  display: grid;
  align-items: center;
  justify-items: center;
}

button {
  width: 100%;
}

.complete {
  text-decoration: line-through;
  color: green;
}

.exercise-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
}

.exercise-table {
  margin: 4px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

thead {
  display: table;
  table-layout:fixed;
  width: 100%;
  border-bottom: 1px solid;
}
.exercise-body {
  display: block;
  height: 40vh;
  overflow-y: scroll;
  width: 100%;
}
tbody tr {
  display: table;
  table-layout:fixed;
  width: 100%;
}
th, td {
  width: auto;
}

.start-over {
  width: 100px;
}

.exercise-list {
  text-align: center;
}

.rep-set-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
  padding: 4px;
}